<div class="aside-wrap">
		
	<div class="aside-user">
		<div class="aside-avatar">
			<a href="#" class="user-avatar">
				<img src="./img/avatars/1.jpg" alt="">
			</a>
			<a href="#" class="avatar-name">
				<p class="title">{{kira.user.name}}</p>
				<p class="sub">{{kira.user.nickname}}</p>
			</a>
		</div>
	</div>

	<div class="line"></div>

	<div class="aside-nav">
	    <ul class="nav-wrap">
            <li><a ui-sref="app.dashboard">dashboard</a></li>
        </ul>

        <div class="line"></div>

	    <ul class="nav-wrap">
            <li><a ui-sref="app.nodeList">实时监控</a></li>
            <li><a ui-sref="app.nodeList">全球节点</a></li>
            <li><a ui-sref="app.taskList">任务列表</a></li>
            <li><a ui-sref="app.taskInfo">任务详情</a></li>
            <li><a ui-sref="app.chartDirective">图表指令</a></li>
        </ul>

        <div class="line"></div>

        <ul class="nav-wrap">
            <li><a ui-sref="app.nodeList">节点列表</a></li>
            <li><a ui-sref="app.taskList">任务列表</a></li>
            <li><a ui-sref="app.taskInfo">任务详情</a></li>
            <li><a ui-sref="app.chartDirective">图表指令</a></li>
        </ul>

		<div class="line"></div>

	</div>

</div>