.kira {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.k1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.kira-grid {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; }
  .kira-grid .grid {
    width: 100%;
    padding: 0 8px; }

.kira-aside .aside-wrap {
  display: none; }

@media (min-width: 768px) {
  .kira-grid {
    flex-wrap: wrap; }
    .kira-grid .grid {
      width: 25%;
      padding: 0 8px; }
  .kira-aside .aside-wrap {
    display: block; } }

.f1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.f2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.f3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.f4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -moz-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.f5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -moz-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.f20 {
  -webkit-box-flex: 20%;
  -webkit-flex: 20%;
  -moz-box-flex: 20%;
  -moz-flex: 20%;
  -ms-flex: 20%;
  flex: 20%; }

.f25 {
  -webkit-box-flex: 25%;
  -webkit-flex: 25%;
  -moz-box-flex: 25%;
  -moz-flex: 25%;
  -ms-flex: 25%;
  flex: 25%; }

.dash-wrap {
  background-color: #FFF;
  border: 1px solid #eeeeee;
  width: 100%; }

html {
  width: 100%;
  height: 100%; }

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #58666e;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143; }

body {
  background-color: #f0f3f4 !important; }

.c-f {
  color: #FFF !important; }

.b-r {
  border-right: 1px solid #dee5e7; }

.bg-light {
  background-color: #dde6e9; }

.bg-white {
  background-color: #fff; }

.line {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden;
  background-color: #131e26; }

.kira-header .header-wrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: #1199c4;
  z-index: 999; }

.kira-header .header-title {
  width: 200px;
  height: 50px;
  color: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px; }

.kira-aside .aside-wrap {
  width: 200px;
  padding-top: 50px;
  border-right: 1px solid #dee5e7;
  background-color: #1c2b36; }

.kira-aside .aside-user {
  width: 100%; }

.kira-aside .aside-avatar {
  padding: 16px;
  text-align: center; }
  .kira-aside .aside-avatar .user-avatar {
    display: block;
    width: 96px;
    margin: 0 auto; }
  .kira-aside .aside-avatar img {
    height: auto;
    width: 100%;
    border-radius: 50%;
    vertical-align: middle; }
  .kira-aside .aside-avatar .avatar-name {
    width: 100%;
    text-decoration: none;
    color: #666; }
  .kira-aside .aside-avatar .title {
    color: #bfd1de !important;
    margin: 10px 0 0;
    font-weight: bold; }
  .kira-aside .aside-avatar .sub {
    font-size: 12px;
    color: #507b9b !important; }

.nav-wrap {
  text-align: center; }
  .nav-wrap li a {
    display: block;
    padding: 10px 18px;
    color: #6b94b3; }
  .nav-wrap li a:hover {
    background-color: #16323d;
    color: #fff; }

.kira-content {
  padding-top: 50px; }
  .kira-content .content-title {
    background-color: #FFF;
    padding: 14px 20px;
    font-size: 20px;
    color: #58666e;
    border-bottom: 1px solid #dee5e7; }

.node-wrap {
  padding: 14px; }
  .node-wrap .node {
    padding: 12px 16px;
    text-align: center;
    color: #FFF;
    box-shadow: 0 4px 4px #999, 0 0 4px #666;
    border-radius: 4px;
    margin-bottom: 16px; }
  .node-wrap h1 {
    font-size: 18px;
    font-weight: bold; }
  .node-wrap h1, .node-wrap p {
    margin-bottom: 8px; }

.state-0 {
  background-color: #00CC99 !important; }

.state-1 {
  background-color: #9c9e9e !important; }

.state-2 {
  background-color: #de4f4f !important; }

.state-3 {
  background-color: #32a6ea !important; }

.list-wrap {
  padding: 14px; }
